<h2>Create a New Tweet!</h2>
  <form action='/tweets' method="post">
    <label for="content">Content: </label>
    <input type="text" id="content" name="content" /><br>
    <input type="submit" name="submit" id="submit" />
  </form>
