<h1>Log In</h1>

<form method="post" action="/login">
  <p>
    <div><label for="username">Username</label></div>
    <input type="text" name="username" id="username"/>
  </p>
  <p>
    <div><label for="password">Password</label></div>
    <input type="password" name="password" id="password"/>
  </p>
  <input type="submit" value="Log In"/>
</form>